
body {
  margin: 0;
}
.container {
    width: 90%;
    height: auto;
    margin: auto;
}
.head {
  text-align: center;
}
.head h1 {
  background-color: #2196f3;
  padding: 10px;
}
.head p {
  font-size: 20px;
  margin-top: -6px;
}
.body {
    display: flex;
    gap: 20px;
    background: #03a9f4;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-evenly;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
.body .show{
  text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #607d8b;
    border-radius: 8px;
    transition: all 0.5s;
    left: 0;
    z-index: 2;
}
.body .show h2 {
  color: #fff;
  font-style: italic;
  font-size: 30px;
  border-bottom: 2px solid #3333;
}
.body .show span {
  margin: 20px;
    font-size: 32px;
    text-transform: capitalize;
    color: #fff;
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: #03a9f4;
    padding: 5px 16px;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.5s;
}
.body .show span.active,
.body .show span:hover {
  opacity: 1;
}
.body .show button {
  font-size: 30px;
    padding: 5px 12px;
    background-color: #3f51b5;
    color: #fff;
    font-style: oblique;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}
.body ul {
    /* flex: 1;  */
    border: 1px solid #333;
    border-radius: 3px;
    width: 400px;
    height: 400px;
    padding-left: 0;
}
.body ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}

.body .act-img{
    width: 250px;
    height: 250px;
}
.body .act-img img {
    max-width: 100%;
}
.body .steps{
    display: inline-block;
    font-size: 23px;
    margin: 8px 0;
}
.body .steps + div {
  display: inline-block;
  font-size: 20px;
}
.body .act-level{
  margin: 20px 0;
    font-size: 24px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.body .act-level button {
  padding: 5px 12px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #607d8b;
  color: #fff;
  text-transform: capitalize;
  margin: 20px 0 0 0;
}
.body .win {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: #2196f3;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  left: -100%;
  top: 15%;
  text-align: center;
  padding: 20px;
  transition: 0.5s;
  opacity: 1;
  z-index: 5;
  
}
.body .win h2 {text-transform: capitalize;}
.body .win .steps {text-transform: capitalize;}
.body .win span {
  display: block;
    background-color: #607D8B;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 6px;
    margin: auto;
    cursor: pointer;
}
